@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-button {
    @apply px-6 py-2 border border-[#2C3333] rounded-xl uppercase tracking-widest text-[#E7F6F2] transition-all hover:border-[#A5C9CA]/40 hover:text-[#A5C9CA]/40 hover:bg-[#2C3333]
  }
}

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-[#395B64]/20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#A5C9CA]/20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #395B64;
}