@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-button {
    @apply px-6 py-2 border border-[#2C3333] rounded-xl uppercase tracking-widest text-[#E7F6F2] transition-all hover:border-[#A5C9CA]/40 hover:text-[#A5C9CA]/40 hover:bg-[#2C3333]
  }
}

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-[#191919]/20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#ECDBBA]/20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C84B31;
}

.circle.circle-orange-1 {
  box-shadow: 0px 0px 100px 0px rgba(200, 75, 49, 0.50);
}
.circle.circle-orange-2 {
  box-shadow: 0px 0px 100px 0px rgba(236, 219, 186, 0.50);
}

header {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.intro-section {
  box-shadow: 0px 0 50px 0px rgba(200, 75, 49, 0.50);
}

.about-section {
  box-shadow: 0px 0 50px 0px rgba(200, 75, 49, 0.50);
}